.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoutButton {
  font-size: 16px;
  background-color: #d32c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #fc0000;
}
